In [1]:
import tensorflow as tf
import os
import pandas as pd
import numpy as np
import pickle

In [2]:
file_path = '../Data/activePlayerCareerLogData.pickle'
PLAYER = 'kyrie irving'

In [3]:
# Load collected player data from pickle file
with open(file_path, 'rb') as file:
    activePlayerCareerLog = pickle.load(file)

In [5]:
activePlayerCareerLog['aaron gordon']

,SEASON_ID,Player_ID,GAME_DATE,WL,MIN,FGM,FGA,FG3M,FG3A,FTM,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,HOME,OPP,TEAM,REST
0,22016,203932,2016-10-26,0,35,5,12,2,3,0,...,1,1,3,1,12,-11,1,MIA,ORL,4
1,22016,203932,2016-10-28,0,29,6,12,1,2,4,...,2,0,1,3,17,-10,0,DET,ORL,2
2,22016,203932,2016-10-29,0,26,3,7,1,3,1,...,3,1,2,3,8,-21,0,CLE,ORL,1
3,22016,203932,2016-11-01,1,32,3,10,0,4,1,...,3,0,2,1,7,11,0,PHI,ORL,3
4,22016,203932,2016-11-03,1,31,5,10,1,3,2,...,1,1,1,3,13,2,1,SAC,ORL,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,22023,203932,2024-02-04,1,30,4,8,0,1,4,...,0,0,0,3,12,-3,1,POR,DEN,2
45,22023,203932,2024-02-08,1,32,5,8,0,2,1,...,2,1,1,1,11,18,0,LAL,DEN,2
46,22023,203932,2024-02-09,0,27,5,8,1,2,3,...,0,1,2,0,14,-28,0,SAC,DEN,2
47,22023,203932,2024-02-12,0,28,6,11,2,4,0,...,1,2,1,2,14,1,0,MIL,DEN,3
48,22023,203932,2024-02-14,0,33,8,15,1,2,8,...,0,0,4,0,25,1,1,SAC,DEN,2